nifi/LoadDatabaseFromFile.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Load CSV files from local file system to a RDBMS table</description>
  <groupId>a13e1da0-015e-1000-7da7-0371020d2990</groupId>
  <name>LoadDatabaseFromFile</name>
  <snippet>
    <connections>
      <id>e22d8ea6-4ebd-39dd-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>3c8b3a57-8a49-3a97-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>da0e2cec-eebb-3735-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f513dd53-b04b-3048-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>99d26cbf-eff4-3575-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>58e69e90-ed89-3557-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f77d186a-75de-3f0a-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>da0e2cec-eebb-3735-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>retry</selectedRelationships>
      <source>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>3e46775e-1994-33ac-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>58c4403f-9cc1-3127-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>3e46775e-1994-33ac-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>99d26cbf-eff4-3575-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>7c42077d-f45a-38bb-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>694bae41-c879-33cb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>dafd8cef-4864-39f0-0000-000000000000</groupId>
        <id>3e46775e-1994-33ac-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>86bc0f64-4f89-3cd2-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-dbcp-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
      </descriptors>
      <name>DBCPConnectionPool</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:mysql://localhost:3307/test</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>com.mysql.jdbc.Driver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>./mysql-connector-java-5.1.18.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>XX</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Validation-query</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <controllerServices>
      <id>ecb3a06f-5e17-3a3a-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>csv-header-derived</value>
        </entry>
        <entry>
          <key>schema-registry</key>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>custom</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>,</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>true</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <processors>
      <id>99d26cbf-eff4-3575-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <position>
        <x>308.34316265005793</x>
        <y>272.700331612239</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File to Fetch</key>
            <value>
              <name>File to Fetch</name>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <name>Completion Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <name>Move Destination Directory</name>
            </value>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>
              <name>Move Conflict Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>
              <name>Log level when file not found</name>
            </value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>
              <name>Log level when permission denied</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File to Fetch</key>
            <value>${absolute.path}/${filename}</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>Delete File</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>Rename</value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>ERROR</value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>ERROR</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchFile</type>
    </processors>
    <processors>
      <id>da0e2cec-eebb-3735-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <position>
        <x>678.0540116524511</x>
        <y>472.9565933370103</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>putdatabaserecord.error</value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LogAttribute</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
    <processors>
      <id>3c8b3a57-8a49-3a97-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <position>
        <x>1383.9092664559557</x>
        <y>473.41223640060593</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>./nifi-work/failedfiles</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
    <processors>
      <id>3e46775e-1994-33ac-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <position>
        <x>673.1338749618527</x>
        <y>20.513909398260267</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>put-db-record-record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>put-db-record-record-reader</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-statement-type</key>
            <value>
              <name>put-db-record-statement-type</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-dcbp-service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>put-db-record-dcbp-service</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-catalog-name</key>
            <value>
              <name>put-db-record-catalog-name</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-schema-name</key>
            <value>
              <name>put-db-record-schema-name</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-table-name</key>
            <value>
              <name>put-db-record-table-name</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-translate-field-names</key>
            <value>
              <name>put-db-record-translate-field-names</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-unmatched-field-behavior</key>
            <value>
              <name>put-db-record-unmatched-field-behavior</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-unmatched-column-behavior</key>
            <value>
              <name>put-db-record-unmatched-column-behavior</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-update-keys</key>
            <value>
              <name>put-db-record-update-keys</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-field-containing-sql</key>
            <value>
              <name>put-db-record-field-containing-sql</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-quoted-identifiers</key>
            <value>
              <name>put-db-record-quoted-identifiers</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-quoted-table-identifiers</key>
            <value>
              <name>put-db-record-quoted-table-identifiers</name>
            </value>
          </entry>
          <entry>
            <key>put-db-record-query-timeout</key>
            <value>
              <name>put-db-record-query-timeout</name>
            </value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>
              <name>rollback-on-failure</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>put-db-record-record-reader</key>
            <value>ecb3a06f-5e17-3a3a-0000-000000000000</value>
          </entry>
          <entry>
            <key>put-db-record-statement-type</key>
            <value>INSERT</value>
          </entry>
          <entry>
            <key>put-db-record-dcbp-service</key>
            <value>86bc0f64-4f89-3cd2-0000-000000000000</value>
          </entry>
          <entry>
            <key>put-db-record-catalog-name</key>
          </entry>
          <entry>
            <key>put-db-record-schema-name</key>
          </entry>
          <entry>
            <key>put-db-record-table-name</key>
            <value>customer</value>
          </entry>
          <entry>
            <key>put-db-record-translate-field-names</key>
            <value>true</value>
          </entry>
          <entry>
            <key>put-db-record-unmatched-field-behavior</key>
            <value>Ignore Unmatched Fields</value>
          </entry>
          <entry>
            <key>put-db-record-unmatched-column-behavior</key>
            <value>Fail on Unmatched Columns</value>
          </entry>
          <entry>
            <key>put-db-record-update-keys</key>
          </entry>
          <entry>
            <key>put-db-record-field-containing-sql</key>
          </entry>
          <entry>
            <key>put-db-record-quoted-identifiers</key>
            <value>false</value>
          </entry>
          <entry>
            <key>put-db-record-quoted-table-identifiers</key>
            <value>false</value>
          </entry>
          <entry>
            <key>put-db-record-query-timeout</key>
            <value>0 seconds</value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutDatabaseRecord</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
    </processors>
    <processors>
      <id>58e69e90-ed89-3557-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>
              <name>Input Directory Location</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>./nifi-work/inbound</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>Local</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>5 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListFile</type>
    </processors>
    <processors>
      <id>694bae41-c879-33cb-0000-000000000000</id>
      <parentGroupId>dafd8cef-4864-39f0-0000-000000000000</parentGroupId>
      <position>
        <x>1356.4735607080504</x>
        <y>27.393227758814135</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Directory</key>
            <value>
              <name>Directory</name>
            </value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>
              <name>Conflict Resolution Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>
              <name>Create Missing Directories</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
            <value>
              <name>Maximum File Count</name>
            </value>
          </entry>
          <entry>
            <key>Last Modified Time</key>
            <value>
              <name>Last Modified Time</name>
            </value>
          </entry>
          <entry>
            <key>Permissions</key>
            <value>
              <name>Permissions</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Group</key>
            <value>
              <name>Group</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Directory</key>
            <value>./nifi-work/processedfiles</value>
          </entry>
          <entry>
            <key>Conflict Resolution Strategy</key>
            <value>fail</value>
          </entry>
          <entry>
            <key>Create Missing Directories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Maximum File Count</key>
          </entry>
          <entry>
            <key>Last Modified Time</key>
          </entry>
          <entry>
            <key>Permissions</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Group</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutFile</type>
    </processors>
  </snippet>
  <timestamp>09/22/2017 18:05:38 EDT</timestamp>
</template>